#canvas1 {
    border: 5px solid black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 600px;
}

.controls {
    position: relative;
    top: 200px;
    margin: 10px auto;
    width: 600px;
    text-align: center;
}

.controls label, select, option {
    font-size: 150%;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
}